# Java and IDE ignores
*.class
bin/
build/
/target/
*.log
.classpath
.project
.settings/
.idea/
.vscode/
*.iml
out/
*.jar
*.war
*.ear

# macOS
.DS_Store

# Gradle
.gradle/
build/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
target/

# Eclipse
.metadata/
.recommenders/
